.box-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.box {
  width: 25%;
}

.box h5 {
  font-weight: bold;
}

.vl {
  border-left: 1px solid gray;
  opacity: 50%;
  height: auto;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .box-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}
